body {
  width: 600px;
  align-content: center;
  background-color: white;
  opacity: 0.82;
  text-align: center;
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
  border: 3px solid red;
}
html {
  background: url(istockphoto-1219382595-612x612.jpg);
}
button:hover {
  opacity: 0.85;
  cursor: pointer;
  background-color: green;
  color: white;
  width: 80px;
}
#potential {
  width: 200px;
}
#tri {
  width: 200px;
}
input {
  width: 65px;
  align-content: center;
  text-align: center;
  border-radius: 10px;
}
button {
  border-radius: 15px;
  margin-top: 10px;
}
input {
  margin-top: 0px;
  margin-bottom: 5px;
}
p {
  text-size-adjust: 20px;
  margin-bottom: 10px;
}
